# Connection to Adobe API

### Libraries

In [1]:
import aanalytics2 as api2
import pandas as pd

### Import Config File (API Connection)

  -  "org_id": "05FF6243578784B37F000101@AdobeOrg",
  -  "api_key": --> You need to open JIRA to Digital team
  -  "tech_id": --> You need to open JIRA to Digital team
  -  "secret": --> You need to open JIRA to Digital team
  -  "pathToKey": --> You need to open JIRA to Digital team

In [6]:
api2.importConfigFile("AA_connection/config_analytics_api-template.json")

### Loaders Config

In [29]:
cids = api2.getCompanyId()
# select id
select_id = cids[0]['globalCompanyId']
print('Selected ID: '+ select_id)
# connect
api2.updateHeader(select_id)
cid = api2.getCompanyId(infos='0')

Selected ID: schibs1

### Get Report Suite, dimensions, metrics, and segments

In [34]:
rsids = api2.getReportSuites()
rsids

                                     name                                rsid
0             RealEstate Inmofactory Prod     schibstedspainreinmofactoryprod
1                     RealEstate Fotocasa                   vrs_schibs1_fcall
2                   RealEstate Habitaclia                   vrs_schibs1_hball
3           RealEstate Habitaclia Android               vrs_schibs1_hbandroid
4               RealEstate Habitaclia IOS                   vrs_schibs1_hbios
5               RealEstate Habitaclia Web                   vrs_schibs1_hbweb
6       (OLD) RealEstate Fotocasa Android  vrs_schibs1_realestatefotocasaan_0
7           (OLD) RealEstate Fotocasa IOS    vrs_schibs1_realestatefotocasaio
8  RealEstate Fotocasa Web Prod (Virtual)  vrs_schibs1_realestatefotocasawe_0

In [59]:
dimensions = api2.getDimensions('vrs_schibs1_fcall')
dimensions.head()

,id,name,category,type,parent,pathable,description
0,variables/averagepagetime,Time Spent on Page - Bucketed,Metrics,ordered-enum,NaN,False,NaN
1,variables/browser,Browser,Audience,string,NaN,False,NaN
2,variables/browserheight,Browser Height - Granular,Audience,int,NaN,False,NaN
3,variables/browserheightbucketed,Browser Height - Bucketed,Audience,ordered-enum,NaN,False,NaN
4,variables/browsertype,Browser Type,Audience,enum,NaN,False,NaN

In [60]:
metrics = api2.getMetrics('vrs_schibs1_fcall')
metrics.head()

,id,name,category,type,dataGroup,precision,segmentable
0,metrics/averagepagedepth,Average Page Depth,Traffic,int,NaN,0.0,False
1,metrics/averagetimespentonpage,Average Time Spent on Page (seconds),Traffic,int,NaN,0.0,False
2,metrics/averagetimespentonsite,Average Time Spent on Site (seconds),Traffic,int,NaN,0.0,False
3,metrics/averagevisitdepth,Average Visit Depth,Traffic,int,NaN,0.0,False
4,metrics/bouncerate,Bounce Rate,Traffic,percent,NaN,2.0,False

In [61]:
segs = api2.getSegments('vrs_schibs1_fcall')
segs

[]

In [62]:
cm = api2.getCalculatedMetrics('vrs_schibs1_fcall')
cm.head()

Empty DataFrame
Columns: []
Index: []

# Test 3: Get report by JSON

In [66]:
report = api2.getReport('requests/request_prueba.json')

In [67]:
report

{'dimension': 'variables/daterangeday',
 'filters': {'globalFilters': ['2020-06-24T00:00:00.000/2020-06-25T00:00:00.000'],
  'metricsFilters': {}},
 'rsid': 'vrs_schibs1_fcall',
 'metrics': ['metrics/visits'],
 'data':   variables/daterangeday  metrics/visits
 0           Jun 24, 2020       1101379.0}

In [68]:
report['data']

  variables/daterangeday  metrics/visits
0           Jun 24, 2020       1101379.0